.eb-container {
    display: flex;
    width: 100%;
    height: 250px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    background-color: #102030;
    background: url('src/assets/home/images/experience_banner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .eb-text-header {
    font-family: 'Roboto', Arial;
    font-size: 60px;
    font-weight: 700;
    line-height: 1em;
    color: #f0f0f0;
    text-align: center;
  }

  .eb-text {
    font-family: 'Montserrat', Arial;
    font-size: 18px;
    font-weight: 600;
    color: #f0f0f0;
    text-align: center;
  }

  @media (max-width: 600px) {
    .eb-container {
      height: 400px;
    }
  }
