.is-container {
    height: 700px;
    background: #e0e0e0;
    overflow: hidden;
}

.is-image {
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center center;
    filter: brightness(50%);
}

.bottom {
    z-index: 0;
}

.top {
    z-index: 1;
}

.hidden {
    opacity: 0;
}

@media (max-width: 600px) {
    .is-container, .is-image {
        height: 400px;
    }
}