.navbar {
    height: 6em; 
    background-color: blanchedalmond;    
}
 
.navbar-container {
    max-width: 100%;
    display: flex;
    flex-direction: row; 
    
    background-color: burlywood;

    align-items: center;
    justify-content: flex-end;
}

.navbar-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: chartreuse;
}

.navbar-buttons {
    justify-content: flex-end;
    align-self: flex-end;
    background-color: darkgrey;
}

.navbar-logo {
    height: 1.5em;  
    margin-left: 1em;
}