@import 'fonts.css';
@import 'keyframes.css';

.hi-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hi-text {
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-family: 'Montserrat', Arial;
    color: white;    
}

.hi-image {
    position: absolute;
    width: 101%;
    height: 310px;
    object-fit: cover;
    object-position: center center;
    filter: blur(3px) saturate(50%) brightness(85%);
}

.hi-title {   
    font-size: 38px;
    font-weight: 700;   
    text-align: center;
    line-height: 3rem;
    padding-left: 20px;
    padding-right: 20px;
}

.hi-links {    
    font-size: 16px;
    font-weight: 600;    
}

.hi-links a {
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    .hi-image-animation {
        animation: fadeIn 1s ease-in, hi-scaleDown 1s ease-out;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .hi-title-animation {
        animation: fadeIn .5s ease-in, hi-scaleUp .5s ease-out;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .hi-links-animation {
        animation: fadeIn 3s ease-in;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}

@keyframes hi-scaleDown {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1.0);
    }
}

@keyframes hi-scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.0);
    }
}
