.navbar {             
    font-size: .9em;    
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (max-width: 768px) {
    .navbar {                      
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.navbar a {
    color:  #99A9B7;
}

.navbar-logo {
    height: 1.5em;  
    margin-left: 1em;
    margin-top: -8px;    
}